<div class="toolbox">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <form class="toolbox-search">
                    <input
                        class="toolbox-input"
                        type="search"
                        [(ngModel)]="toolboxInput"
                        [ngModelOptions]="{standalone: true}">
                    <button
                        class="toolbox-button"
                        type="submit"
                        (click)="logValue(toolboxInput)">Search</button>
                </form>
            </div>
            <div class="col-3">
                <div class="toolbox-buttons">
                    <button class="toolbox-button" type="button">Add Course</button>
                </div>
            </div>
        </div>
    </div>
</div>