<div class="toolbox">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <form class="toolbox-search">
                    <input
                        class="toolbox-input"
                        type="search"
                        [(ngModel)]="toolboxInput"
                        [ngModelOptions]="{standalone: true}">
                    <button
                        class="toolbox-button"
                        type="submit"
                        (click)="logValue(toolboxInput)"
                        mat-raised-button
                        color="primary">Search</button>
                </form>
            </div>
            <div class="col-3">
                <div class="toolbox-buttons">
                    <a
                        routerLink="../courses/new"
                        class="toolbox-button"
                        mat-raised-button
                        color="primary">Add Course</a>
                </div>
            </div>
        </div>
    </div>
</div>