<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="login-wrapper">
                <h3 class="login-title">Login</h3>
                <form class="login-form">
                    <mat-form-field>
                        <input placeholder="Email" type="email" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <input placeholder="Password" type="password" matInput>
                    </mat-form-field>
                    <button class="login-button" type="submit" mat-raised-button color="primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>