<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header-logo">
                    <img class="header-img" src="" alt="Header Logo">
                    <h2 class="header-title">Website name</h2>
                </div>
            </div>
            <div class="col">
                <div class="header-buttons">
                    <button class="header-button" type="button">User Login</button>
                    <button class="header-button" type="button">User Logoff</button>
                </div>
            </div>
        </div>
    </div>
</header>