<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header-logo">
                    <img class="header-img" src="" alt="Header Logo">
                    <h2 class="header-title">Angular Mentoring Project</h2>
                </div>
            </div>
            <div class="col">
                <div class="header-buttons">
                    <button
                        (click)="routeToLogin()"
                        class="header-button"
                        type="button"
                        mat-button
                        color="primary">User Login</button>
                    <button
                        (click)="handleLogoff()"
                        class="header-button"
                        type="button"
                        mat-button
                        color="primary">User Logoff</button>
                </div>
            </div>
        </div>
    </div>
</header>