<div
    class="course-item"
    [class.course-item--top-rated]="courseItem.topRated"
    [appHighlightBorder]="courseItem.creationDate"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="course-caption">
                    <h3
                        class="course-title"
                        [class.course-title--top-rated]="courseItem.topRated"
                    >{{courseItem.title | uppercase}}</h3>
                    <div class="course-info">
                        <p class="course-info-text">{{courseItem.duration | duration: 'seconds'}}</p>
                        <p class="course-info-text">{{courseItem.creationDate | date: 'MM/dd/yyyy'}}</p>
                    </div>
                </div>
                <p class="course-description">{{courseItem.description}}</p>
            </div>
            <div class="col-3">
                <div class="course-buttons">
                    <button
                        class="course-button"
                        type="button"
                        mat-button
                        color="primary">Edit</button>
                    <button
                        class="course-button"
                        type="button"
                        (click)="handleDelete()"
                        mat-button
                        color="warn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>